<%- layout('layout.admin') -%>

<div class="main main-raised">
    <div class="container fist-container" id="container-admin-icoSchedule">
        <div class="section text-center">
            <div class="features">
                <div class="row">
                    <div class="col-12 text-left">
                        <h2 class="title" id="icoDbControl" style="display:none;"># ICO DB Control</h2> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-left">
                        <button class="btn btn-primary btn-sm" id="create-IcoInfo" style="display:none;">Create icoInfo DB</button>
                        <button class="btn btn-primary btn-sm" id="init-IcoInfo" style="display:none;">Init icoInfo DB</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 text-left">
                        <h2 class="title"># ICO INFO</h2> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 col-form-label text-left"><h4>Token Name : </h4></div>  
                    <div class="col-sm-7">
                        <h4><input type="text" readonly class="form-control-plaintext" id="admin-tokenName"></h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 col-form-label text-left"><h4>Contract Address : </h4></div>  
                    <div class="col-sm-7">
                        <h4><input type="text" readonly class="form-control-plaintext" id="admin-contractAddr"></h4>
                    </div>
                    <div class="col-sm-2  text-left">
                            <button class="btn btn-primary btn-sm" id="unlock-contractAddr" style="display:none;">Unlock</button>
                            <button class="btn btn-primary btn-sm" id="save-contractAddr" style="display:none;">Save</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 col-form-label text-left"><h4>Ico Address : </h4></div>  
                    <div class="col-sm-7">
                        <h4><input type="text" readonly class="form-control-plaintext" id="admin-icoAddr"></h4>
                    </div>
                    <div class="col-sm-2  text-left">
                            <button class="btn btn-primary btn-sm" id="unlock-icoAddr" style="display:none;">Unlock</button>
                            <button class="btn btn-primary btn-sm" id="save-icoAddr" style="display:none;">Save</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 text-left">
                        <h2 class="title"># ICO SCHEDULE</h2> 
                    </div>
                </div>
                <div class="row">
                    <h4 class="col-sm-3 col-form-label text-left">Ico current round : </h4>   
                    <div class="col-sm-7">
                        <h4><input type="text" readonly class="form-control-plaintext" id="admin-round"></h4>
                        <div class="form-group">
                            <select class="form-control" id="admin-round-selectBox" style="display:none;">
                                <option value="1">commingSoon</option>
                                <option value="2">preSale</option>
                                <option value="3">roundA</option>
                                <option value="4">roundB</option>
                                <option value="5">roundC</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-2  text-left">
                        <button class="btn btn-primary btn-sm" id="unlock-round">Unlock</button>
                        <button class="btn btn-primary btn-sm" id="save-round" style="display:none;">Save</button>
                    </div>
                </div>
                <div class="row">
                    <h4 class="col-sm-3 col-form-label text-left">Start of PreSale Date : </h4>   
                    <div class="col-sm-7">
                        <h4><input type="text" readonly class="form-control-plaintext" id="admin-startPreSale"></h4>
                        <div class="form-group">
                            <input type="text" class="form-control datetimepicker" id="admin-startPreSale-picker" style="display:none;">
                        </div>
                    </div>
                    <div class="col-sm-2  text-left">
                        <button class="btn btn-primary btn-sm" id="unlock-startPreSale">Unlock</button>
                        <button class="btn btn-primary btn-sm" id="save-startPreSale" style="display:none;">Save</button>
                    </div>
                </div>
                <div class="row">
                    <h4 class="col-sm-3 col-form-label text-left">End of PreSale Date : </h4>   
                    <div class="col-sm-7">
                        <h4><input type="text" readonly class="form-control-plaintext" id="admin-endPreSale"></h4>
                        <div class="form-group">
                            <input type="text" class="form-control datetimepicker" id="admin-endPreSale-picker" style="display:none;">
                        </div>
                    </div>
                    <div class="col-sm-2  text-left">
                        <button class="btn btn-primary btn-sm" id="unlock-endPreSale">Unlock</button>
                        <button class="btn btn-primary btn-sm" id="save-endPreSale" style="display:none;">Save</button>
                    </div>
                </div>
                <div class="row">
                    <h4 class="col-sm-3 col-form-label text-left">End of RoundA Date : </h4>   
                    <div class="col-sm-7">
                        <h4><input type="text" readonly class="form-control-plaintext" id="admin-endRoundA"></h4>
                        <div class="form-group">
                            <input type="text" class="form-control datetimepicker" id="admin-endRoundA-picker" style="display:none;">
                        </div>
                    </div>
                    <div class="col-sm-2  text-left">
                        <button class="btn btn-primary btn-sm" id="unlock-endRoundA">Unlock</button>
                        <button class="btn btn-primary btn-sm" id="save-endRoundA" style="display:none;">Save</button>
                    </div>
                </div>
                <div class="row">
                    <h4 class="col-sm-3 col-form-label text-left">End of RoundB Date : </h4>   
                    <div class="col-sm-7">
                        <h4><input type="text" readonly class="form-control-plaintext" id="admin-endRoundB"></h4>
                        <div class="form-group">
                            <input type="text" class="form-control datetimepicker" id="admin-endRoundB-picker" style="display:none;">
                        </div>
                    </div>
                    <div class="col-sm-2  text-left">
                        <button class="btn btn-primary btn-sm" id="unlock-endRoundB">Unlock</button>
                        <button class="btn btn-primary btn-sm" id="save-endRoundB" style="display:none;">Save</button>
                    </div>
                </div>
                <div class="row">
                    <h4 class="col-sm-3 col-form-label text-left">End of RoundC Date : </h4>   
                    <div class="col-sm-7">
                        <h4><input type="text" readonly class="form-control-plaintext" id="admin-endRoundC"></h4>
                        <div class="form-group">
                            <input type="text" class="form-control datetimepicker" id="admin-endRoundC-picker" style="display:none;">
                        </div>
                    </div>
                    <div class="col-sm-2  text-left">
                        <button class="btn btn-primary btn-sm" id="unlock-endRoundC">Unlock</button>
                        <button class="btn btn-primary btn-sm" id="save-endRoundC" style="display:none;">Save</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 text-left">
                        <h2 class="title"># ICO SALES VOLUME</h2> 
                    </div>
                </div>                
                <div class="row">
                    <h4 class="col-sm-3 col-form-label text-left" >minimum Investe Etherium(ETH) : </h4>   
                    <div class="col-sm-7">
                        <h4><input type="text" readonly class="form-control-plaintext" id="admin-minimumInvesteEth"></h4>
                    </div>
                    <div class="col-sm-2  text-left">
                        <button class="btn btn-primary btn-sm" id="unlock-minimumInvesteEth">Unlock</button>
                        <button class="btn btn-primary btn-sm" id="save-minimumInvesteEth" style="display:none;">Save</button>
                    </div>
                </div>
                <div class="row">
                    <h4 class="col-sm-3 col-form-label text-left" >Total sales volume(BLC) : </h4>   
                    <div class="col-sm-7">
                        <h4><input type="text" readonly class="form-control-plaintext" id="admin-totalSalesVolume"></h4>
                    </div>
                    <div class="col-sm-2  text-left">
                        <button class="btn btn-primary btn-sm" id="unlock-totalSalesVolume">Unlock</button>
                        <button class="btn btn-primary btn-sm" id="save-totalSalesVolume" style="display:none;">Save</button>
                    </div>
                </div>
                <div class="row">
                    <h4 class="col-sm-3 col-form-label text-left">PreSale volume(BLC) : </h4>   
                    <div class="col-sm-7">
                        <h4><input type="text" readonly class="form-control-plaintext" id="admin-preSalesVolume"></h4>
                    </div>
                    <div class="col-sm-2  text-left">
                        <button class="btn btn-primary btn-sm" id="unlock-preSalesVolume">Unlock</button>
                        <button class="btn btn-primary btn-sm" id="save-preSalesVolume" style="display:none;">Save</button>
                    </div>
                </div>
                <div class="row">
                    <h4 class="col-sm-3 col-form-label text-left">Round-A volume(BLC) : </h4>   
                    <div class="col-sm-7">
                        <h4><input type="text" readonly class="form-control-plaintext" id="admin-roundAVolume"></h4>
                    </div>
                    <div class="col-sm-2  text-left">
                        <button class="btn btn-primary btn-sm" id="unlock-roundAVolume">Unlock</button>
                        <button class="btn btn-primary btn-sm" id="save-roundAVolume" style="display:none;">Save</button>
                    </div>
                </div>
                <div class="row">
                    <h4 class="col-sm-3 col-form-label text-left">Round-B volume(BLC) : </h4>   
                    <div class="col-sm-7">
                        <h4><input type="text" readonly class="form-control-plaintext" id="admin-roundBVolume"></h4>
                    </div>
                    <div class="col-sm-2  text-left">
                        <button class="btn btn-primary btn-sm" id="unlock-roundBVolume">Unlock</button>
                        <button class="btn btn-primary btn-sm" id="save-roundBVolume" style="display:none;">Save</button>
                    </div>
                </div>
                <div class="row">
                    <h4 class="col-sm-3 col-form-label text-left">Round-C volume(BLC) : </h4>   
                    <div class="col-sm-7">
                        <h4><input type="text" readonly class="form-control-plaintext" id="admin-roundCVolume"></h4>
                    </div>
                    <div class="col-sm-2  text-left">
                        <button class="btn btn-primary btn-sm" id="unlock-roundCVolume">Unlock</button>
                        <button class="btn btn-primary btn-sm" id="save-roundCVolume" style="display:none;">Save</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 text-left">
                        <h2 class="title"># ICO BONUS RATE</h2> 
                    </div>
                </div>
                <div class="row">
                    <h4 class="col-sm-3 col-form-label text-left">Ico exchage rate(BLC) : </h4>   
                    <div class="col-sm-7">
                        <h4><input type="text" readonly class="form-control-plaintext" id="admin-exchangeRate"></h4>
                    </div>
                    <div class="col-sm-2  text-left">
                        <button class="btn btn-primary btn-sm" id="unlock-exchangeRate">Unlock</button>
                        <button class="btn btn-primary btn-sm" id="save-exchangeRate" style="display:none;">Save</button>
                    </div>
                </div>
                <div class="row">
                    <h4 class="col-sm-3 col-form-label text-left">Bonus of PreSale(%) : </h4>   
                    <div class="col-sm-7">
                        <h4><input type="text" readonly class="form-control-plaintext" id="admin-bonusPreSale"></h4>
                    </div>
                    <div class="col-sm-2  text-left">
                        <button class="btn btn-primary btn-sm" id="unlock-bonusPreSale">Unlock</button>
                        <button class="btn btn-primary btn-sm" id="save-bonusPreSale" style="display:none;">Save</button>
                    </div>
                </div>
                <div class="row">
                    <h4 class="col-sm-3 col-form-label text-left">Bonus of RoundA(%) : </h4>   
                    <div class="col-sm-7">
                        <h4><input type="text" readonly class="form-control-plaintext" id="admin-bonusRoundA"></h4>
                    </div>
                    <div class="col-sm-2  text-left">
                        <button class="btn btn-primary btn-sm" id="unlock-bonusRoundA">Unlock</button>
                        <button class="btn btn-primary btn-sm" id="save-bonusRoundA" style="display:none;">Save</button>
                    </div>
                </div>
                <div class="row">
                    <h4 class="col-sm-3 col-form-label text-left">Bonus of RoundB(%) : </h4>   
                    <div class="col-sm-7">
                        <h4><input type="text" readonly class="form-control-plaintext" id="admin-bonusRoundB"></h4>
                    </div>
                    <div class="col-sm-2  text-left">
                        <button class="btn btn-primary btn-sm" id="unlock-bonusRoundB">Unlock</button>
                        <button class="btn btn-primary btn-sm" id="save-bonusRoundB" style="display:none;">Save</button>
                    </div>
                </div>
                <div class="row">
                    <h4 class="col-sm-3 col-form-label text-left">Bonus of RoundC(%) : </h4>   
                    <div class="col-sm-7">
                        <h4><input type="text" readonly class="form-control-plaintext" id="admin-bonusRoundC"></h4>
                    </div>
                    <div class="col-sm-2  text-left">
                        <button class="btn btn-primary btn-sm" id="unlock-bonusRoundC">Unlock</button>
                        <button class="btn btn-primary btn-sm" id="save-bonusRoundC" style="display:none;">Save</button>
                    </div>
                </div>
                <div class="row">
                    <h4 class="col-sm-3 col-form-label text-left">Bonus of Volume - 10Eth(%) : </h4>   
                    <div class="col-sm-7">
                        <h4><input type="text" readonly class="form-control-plaintext" id="admin-bonusVolume10Eth"></h4>
                    </div>
                    <div class="col-sm-2  text-left">
                        <button class="btn btn-primary btn-sm" id="unlock-bonusVolume10Eth">Unlock</button>
                        <button class="btn btn-primary btn-sm" id="save-bonusVolume10Eth" style="display:none;">Save</button>
                    </div>
                </div>
                <div class="row">
                    <h4 class="col-sm-3 col-form-label text-left">Bonus of Volume - 30Eth(%) : </h4>   
                    <div class="col-sm-7">
                        <h4><input type="text" readonly class="form-control-plaintext" id="admin-bonusVolume30Eth"></h4>
                    </div>
                    <div class="col-sm-2  text-left">
                        <button class="btn btn-primary btn-sm" id="unlock-bonusVolume30Eth">Unlock</button>
                        <button class="btn btn-primary btn-sm" id="save-bonusVolume30Eth" style="display:none;">Save</button>
                    </div>
                </div>
                <div class="row">
                    <h4 class="col-sm-3 col-form-label text-left">Bonus of Volume - 50Eth(%) : </h4>   
                    <div class="col-sm-7">
                        <h4><input type="text" readonly class="form-control-plaintext" id="admin-bonusVolume50Eth"></h4>
                    </div>
                    <div class="col-sm-2  text-left">
                        <button class="btn btn-primary btn-sm" id="unlock-bonusVolume50Eth">Unlock</button>
                        <button class="btn btn-primary btn-sm" id="save-bonusVolume50Eth" style="display:none;">Save</button>
                    </div>
                </div>
                <div class="row">
                    <h4 class="col-sm-3 col-form-label text-left">Bonus of Referral(%) : </h4>   
                    <div class="col-sm-7">
                        <h4><input type="text" readonly class="form-control-plaintext" id="admin-bonusReferral"></h4>
                    </div>
                    <div class="col-sm-2  text-left">
                        <button class="btn btn-primary btn-sm" id="unlock-bonusReferral">Unlock</button>
                        <button class="btn btn-primary btn-sm" id="save-bonusReferral" style="display:none;">Save</button>
                    </div>
                </div>                    
            </div>
        </div>
    </div>
</div>
