<%- layout('layout.admin-userList') -%>

<div class="main main-raised">
    <div class="container fist-container" id="container-admin-userList">
        <div class="section text-center">
            <div class="features">
                <div class="row">
                    <div class="col-12 text-left">
                        <h2 class="title"># USER LIST</h2> 
                    </div>
                </div>
                <div>
                    <table id="tableUserList" class="table table-bordred table-striped" style="display:none;">                                
                        <thead>
                            <tr>
                                <th>Select</th>
                                <th>Email</th>
                                <th>userType</th>
                                <th>kycStatus</th>
                                <th>walletAddr</th>
                                <th>invitation</th>
                                <th>referralAddr</th>                               
                                <th>firstName</th>
                                <th>lastName</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
