<%- layout('layout.tokenSale') -%>

<div class="main main-raised">
    <div class="container fist-container" id="container-token-sale">
        <div class="section text-center">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <h2 class="title">GUIDE</h2>
                    <h5 class="description">Every investor should be done our KYC process and we only use etherium to buy BLC coin.</h5>
                </div>
            </div>
            <div class="features">
                <div class="row align-items-center">
                    <div class="col-12 col-sm-4">
                        <div class="token-calculator">
                            <div class="card card-nav-tabs">
                                <div class="card-header card-header-danger">
                                    <h4 class="title">Token Calculator</h4>  
                                </div>
                                <div class="card-body">                                                                      
                                    <h4 id="tokenExchangeRate">1 ETH = 0 BLC</h4>
                                    <h5 id="bonusToken-round">round bonus : 0%</h5>
                                    <h5 id="bonusToken-volume">volume bonus : 0%</h5>
                                    <h5 id="bonusToken-referral">referral bonus : 0%</h5>
                                    <div class="col-12">
                                        <div class="input-group">                                        
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                <i class="fa fa-group"></i>
                                                </span>
                                            </div>
                                            <input type="text" class="form-control" id="calculator-eth" placeholder="ETH">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                <i class="fa fa-group"></i>
                                                </span>
                                            </div>
                                            <input type="text" class="form-control" id="calculator-blc" placeholder="BLC">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-8">
                        <div class="info-nomal text-left">
                            <h3 class="title">How to invest?</h3>
                            <ol>
                                <li>
                                    <h4 class="description">KYC should be completed before send etherium to buy BLC token.</h4>        
                                </li>
                                <li>
                                    <h4 class="description">Copy below adress.</h4>        
                                </li>
                                <li>
                                    <h4 class="description">Transfer Etherium for purchasing BLC tokens to this address.</h4>        
                                </li>
                                <li>
                                    <h4 class="description">Add your Ethereum address from which you own private key (do not add address from exchanges!) and get BLC tokens.</h4>        
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="kyc-card text-center">
                                <h3 class="title">Address to send your Etherium</h3><br>
                                <h4 class="description" id="address-eth-description" style="display:none;">Address is not appeared before your KYC is approved</h4>
                                <button class="btn btn-primary btn-sm" id="goToKyc" style="display:none;">Click to go KYC</button>                                
                                <div class="text-center" id="address-eth-qrCode" style="display:none;"></div>
                                <h2 class="title text-danger" id="address-eth" style="display:none;"></h2>                                
                                <button class="btn btn-primary btn-sm" id="copy-eth-address" style="display:none;">
                                    Copy
                                </button>                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>   
        </div>
    </div>
</div>
